<style>
a{
	font-family: Arial;
}
.dropbtn {
	background-color: white;
	cursor: pointer;
	font-size: 15px;
	font-family: Arial;
	padding: 10px;
	border-radius: 5px;
	background-color:rgb(109,140,231);
	padding:0px;
}

.dropdown {
	position: relative;
	display: inline-block;
	
}

.dropcontent {
	display: none;
	position: absolute;
	background-color: rgba(255,255,255,0.8);
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
	z-index: 1;
	text-align:center;
}

.panel{
	padding:7px; 
	color:white;
}
.panel a:hover{
	background-color: #AED6F1; 
}
.dropcontent a:hover {
	background-color: #ABEBC6  ;
}

.dropdown:hover .dropcontent {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #AED6F1;
}
.nav a {
	font-size: 15px;
	font-family: Arial;
	text-decoration: none;
	margin: auto 5px;
	padding: 10px;
	border-radius: 5px;
	color: white;
	padding:0px;
}
.dropcontent a {
	color: black;
	text-decoration: none;
	display: block;
	border: none;
	padding:5px;
	font-family: Arial;
}

.onlineQuestion {
	border: 1px black solid;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	background: rgba(50, 50, 50, 0.6);
	color: white;
	position: fixed;
	bottom: 10%;
	right: 3%;
	padding:0px;
}

.onlineQuestion:hover {
	pointer: cursor;
}

.startSelect {
	border: 1px rgb(109, 140, 231) solid;
	border-radius: 20px;
	color: blue;
	background: white;
	position: relative;
	font-size: 15px;
	margin-top: 9%;
	color: rgb(109, 140, 231);
	padding: 6px 5%;
}

.startSelect:hover {
	pointer: cursor;
}
#logout{
	font-family:Arial;
	margin:1% 2%;
	margin-left:3%;
}
</style>